@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@layer components {
    html {
        font-family: 'nunito', sans-serif;
    }
    body {
        padding: 2%;
        background-color: #f8f8f8;
    }
}

@layer base {
    h1 {
        @apply m-0 text-5xl font-dancing;
    }

    h2 {
        @apply flex flex-row items-start p-2 pr-4 text-2xl bg-orange-200 rounded-r-full font-dancing;
    }

    h3 {
        @apply m-0 text-3xl;
    }

    h4 {
        @apply m-0 text-lg sm:text-2xl;
    }
}
